
body {
	font-family: 'Droid Serif', serif;
}

.chart div {
  font: 12px sans-serif;
  background-color: #2f2f2f;
  text-align: left;
  padding: 3px;
  margin:1px;
  color: white;
}

.chart div:hover {
	opacity: .8;
}

.slide-contain{
	width: 50%;
	margin-bottom: 10px;
	height: 5px;
	margin-left: 0.5%;
}

h1 {
	font-size: 1.3em;
	font-weight: 800;
	width: 300px;
	margin: 0;
	text-transform: uppercase;
	}

	
.bar{
	-webkit-transition: width 1.5s; 
	-webkit-transform 2s;
    transition:width 1.5s;
    transform 2s;
    transition-timing-function: cubic-bezier(3);
}

p.salary-output {
	margin: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: none; 
	background-color: #1f1f1f;
	-webkit-user-select: none;
}

.ui-corner-all{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	
}

.ui-slider-horizontal .ui-slider-handle
{
	top: -.5em;	
}

.salary, span.bold{
	border:0;
	color:#000; 
	font-weight:bold; 
	font-size: 3em;
	text-align: right;
}


div.chart, div.price , div.cityname{
	float: left;
}

div.cityname, div.price{
	line-height:2.35em;
	text-align: right;
}


div.cityname {
	font-weight: 100; 
	
}

div.chart{
	margin-left:20px;
}

.cityprice {
	width: 140px;
	font-size: .8em;
}

.income-text {
	text-transform: uppercase;
	
}

/*
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
*/



